.coin-toss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
   
  }
  
  .coin {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
  }
  
  .coin.tossing .front,
  .coin.tossing .back {
    animation: flip 1s forwards;
  }
  
  .coin.tossing .back {
    transform: rotateX(-180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
  }
  
  .front {
    background-image: url('./resources/blank.png'); /* Heads image */
  }
  
  .back {
    background-image: url('./resources/blank.png'); /* Tails image */
  }
  
  @keyframes flip {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(180deg);
    }
  }
  
  button {
    margin-top: 30px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .result {
    font-size: 24px;
    margin-top: 20px;
  }
  